/* way_declaration_document.css - Personal style sheet for way declaration documents
 *
 *   “Summoned by a `link` element in each way declaration document of the waycast,
 *   this style sheet works on the client side — in the waycast reader’s Web browser —
 *   where it formats the presentation of the way declaration.”
 *     — http://reluk.ca/project/proto-wayic/web/doc.task § configuration of a waycast
 *
 *   This file has been dedicated to the public domain under a CC0 licence.  Further details at bottom.
 */


 /* Show the way clearly, using `proto-wayic.read` as the Web presenter
  * http://reluk.ca/project/proto-wayic/read/manual.task § basic use § personal style sheet
  * -------------------- */
    @import 'http://reluk.ca/project/proto-wayic/read/readable.css';
 /* @import '/home/mike/var/deploy/test/proto-wayic/read/readable.css'; TEST purposes only */


 /* Allow for informal notes
  * ------------------------ */
    @import 'http://reluk.ca/project/proto-wayic/read/pre_note.css';
 /* @import '/home/mike/var/deploy/test/proto-wayic/read/pre_note.css'; TEST */


    @namespace html 'http://www.w3.org/1999/xhtml';


html|h2 html|a,
html|h3 html|a,
html|h4 html|a,
html|h5 html|a,
html|h6 html|a
{
    /* Pointer styling alone suffices to indicate that my subheaders are self-targeting hyperlinks.
       Given that all are so, any further styling would be unecessary and distracting.  Defeat it: */
    color: inherit;
    text-decoration: none;
}


/* This file has been dedicated by its author(s) to the public domain.  To the extent possible
 * by law, the author(s) have waived all of their copyright and related or neighbouring rights to
 * this file under the terms of CC0 1.0.  http://creativecommons.org/publicdomain/zero/1.0/
 * The author(s) are:
 *
 *     Michael Allan, mike@reluk.ca, http://reluk.ca/
 *
 * Other authors who make further, substantial contributions to this file, and who wish to dedicate
 * their contributions to the public domain, should append their names to the list above.
 */
