/* way_declaration_document.css - Personal style sheet
 *
 *   Summoned by a *link* tag in each way declaration document of my waycast,
 *   this style sheet runs on the client side — in the waycast reader’s web browser —
 *   where it formats the presentation of each way declaration document.
 *
 *   Usage instructions: http://reluk.ca/project/wayic/web/doc.task § Configuration of a waycast
 */

 /* Show the document clearly, using wayic.read as the web presenter
  * ------------------------- */
    @import 'http://reluk.ca/project/wayic/read/readable.css';
 /* @import '/home/mike/var/deploy/wayic/test/read/readable.css'; TEST purposes only */


 /* Allow for informal notes
  * ------------------------ */
    @import 'http://reluk.ca/project/wayic/read/pre_note.css';
 /* @import '/home/mike/var/deploy/wayic/test/read/pre_note.css'; TEST */


/* This file has been dedicated by its author(s) to the public domain.  To the extent possible
 * by law, the author(s) have waived all of their copyright and related or neighbouring rights to
 * this file under the terms of CC0 1.0.  http://creativecommons.org/publicdomain/zero/1.0/
 * The author(s) are:
 *
 *     Michael Allan, mike@reluk.ca, http://reluk.ca/
 *
 * Other authors who make further, substantial contributions to this file, and who wish to dedicate
 * their contributions to the public domain, should append their names to the list above.
 */
